table,td
{
    border: 2px solid darkblue;

}
body
{
    background-color: aqua;
}
table
{
    margin: auto;
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background-color: grey;
    
}
tr:nth-child(6){
    font-size: larger;
}
tr:nth-child(10){
    border: 5px solid darkblue;
}
tr:nth-child(n+6){
    font-family: Verdana;
}
tr:hover:nth-child(odd){
    background-color: white;
    
}
tr:hover:nth-child(even){
    background-color: grey;
}